.logo {
    width: 50px;
}

main {
    padding-top: 96px;
}

.search {
    max-width: 800px;
    margin-top: 32px;
}

.cardImage {
    width: 100%;
}

#pageImage {
    width: 80%;
}

.setImage {
    width: 80%;
}

.priceTitleAvg {
    color: blueviolet;
    font-weight: bold;
}

.priceTitleLow {
    color: green;
    font-weight: bold;
}

.priceTitleHigh {
    color: red;
    font-weight: bold;
}